
    body {
        font-family: Arial, sans-serif;
    
        background: url('../img/codigo.svg'), linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    
    
        background-size: auto;
        background-repeat: no-repeat;
        /* Hace que la imagen cubra todo el 치rea del elemento */
        background-position: right;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        color: white;
    }
    
    input[type="text"],
    input[type="number"] {
        font-size: 1rem;
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        padding: 10px 40px;
        width: fit-content;
        background-color: #1875E8;
        color: #fff;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #4cae4c;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
        max-height: fit-content;
        overflow-y: auto;
        width: 100%;
    }
    
    ul li {
        padding: 10px;
        background-color: #041832;
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
    }
    
    ul li:last-child {
        border-bottom: none;
    }
    
    .main-container {
        display: flex;
        justify-content: center;
        top: 110px;
        left: 120px;
        width: 1200px;
        min-height: 80vh;
        margin: 0px auto;
        padding: 20px;
        background: linear-gradient(0deg, rgba(20, 68, 128, 0.3), rgba(20, 68, 128, 0.3)),
            linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    
        border-radius: 24px;
        color: white;
        box-shadow: 4px 4px 20px 0px #01080E26;
        border: 1px solid #1875E8
    }
    
    .container {
        display: flex;
        gap: 45px;
        width: 860px;
        align-items: center;
        flex-direction: column;
        padding: 45px;
        opacity: 0px;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
    }
    
    .img-container img {
        width: 50%;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        gap: 20px;
    }
    
    .total {
        margin-top: 20px;
        font-size: 24px;
        text-align: center;
        color: #fff;
    
    }
    
    /* Estilos para el modal (ventana emergente) */
    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background-color: white;
        color: #000000;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 400px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* Estilos para el modal de confirmaci칩n */
    #confirmModal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        justify-content: center;
        align-items: center;
    }
    
    #confirmModal .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 400px;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    #confirmModal button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #confirmModal button:first-of-type {
        background-color: #28a745; /* Bot칩n de confirmar */
        color: white;
    }
    
    #confirmModal button:last-of-type {
        background-color: #dc3545; /* Bot칩n de cancelar */
        color: white;
    }
    
    #confirmModal button:hover {
        opacity: 0.8;
    }
